<p>Hello <%= @user.email_address %>,</p>

<p>You requested a recovery code for your account. Here is your code:</p>

<h2><%= @recovery_code %></h2>

<p>Please use this code to recover your OTP. If you did not request this, please ignore this email.</p>

<p>Thank you!</p> 