<!DOCTYPE html>
<html>
  <head>
    <title>Rails 8 Demo</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
